@media screen and (max-width: 768px) {
    .container {
        width: 100%;
    }
}

@media screen and (max-width: 480px) {
    .row {
        flex-wrap: wrap;
    }

    .lessons .col {
        width: 100%;
    }
}