@media screen and (max-width: 768px) {
    .container {
        width: 100%;
    }
}

@media screen and (max-width: 480px) {
    .row {
        flex-wrap: wrap;
    }

    .lessons .col, .steps .col {
        width: 100%;
        margin-bottom: 4rem;
    }
}